@import "~@angular/material/prebuilt-themes/purple-green.css";

.progress {
    height: 1.25rem;
  }
  
  .progress-bar {
    background-color: #ff0055d0;
    color: white;
  }
  
table {
    margin-right: 6.25rem;
    justify-content: center;
    align-items: center;
   
  }
  